%p.lead Simple data export and feeds from FA
#boxes
  %input#name{type: 'text', placeholder: 'name', autocomplete: 'off'}
  or
  %input#id{type: 'text', placeholder: 'id', autocomplete: 'off'}
%dl#links{style: 'display: none'}
  %dt User
  %dd
    - %w(json xml).map do |type|
      %a.resource{href: '#', target: '_blank', :'data-format' => "#{@base_url}/user/{name}.#{type}"}
        = "#{@base_url}/user/"
        %span.name> name
        = ".#{type}"
      %br
  - %w(watching watchers commissions).each do |resource|
    %dt= resource.capitalize
    %dd
      - %w(json xml).each do |type|
        %a.resource{href: '#', target: '_blank', :'data-format' => "#{@base_url}/user/{name}/#{resource}.#{type}"}
          = "#{@base_url}/user/"
          %span.name> name
          = "/#{resource}.#{type}"
        %br
  - %w(shouts journals gallery scraps favorites).each do |resource|
    %dt= resource.capitalize
    %dd
      - %w(json xml rss).each do |type|
        %a.resource{href: '#', target: '_blank', :'data-format' => "#{@base_url}/user/{name}/#{resource}.#{type}"}
          = "#{@base_url}/user/"
          %span.name> name
          = "/#{resource}.#{type}"
        %br
  - %w(submission journal).each do |resource|
    %dt= resource.capitalize
    %dd
      - %w(json xml).each do |type|
        %a.resource{href: '#', target: '_blank', :'data-format' => "#{@base_url}/#{resource}/{id}.#{type}"}
          = "#{@base_url}/#{resource}/"
          %span.id> id
          = ".#{type}"
        %br
  - %w(submission journal).each do |resource|
    %dt
      = resource.capitalize
      Comments
    %dd
      - %w(json xml).each do |type|
        %a.resource{href: '#', target: '_blank', :'data-format' => "#{@base_url}/#{resource}/{id}/comments.#{type}"}
          = "#{@base_url}/#{resource}/"
          %span.id> id
          = "/comments.#{type}"
        %br

