%p.lead Simple data export and feeds from FA
#boxes
  %input#name{type: 'text', placeholder: 'name', autocomplete: 'off'}
  or
  %input#id{type: 'text', placeholder: 'id', autocomplete: 'off'}
%dl#links{style: 'display: none'}
  %dt Home
  %dd
    - %w(json xml).map do |type|
      %a.resource{href: '#', target: '_blank', :'data-format' => "{base}/home.#{type}"}
      %br
  %dt Search
  %dd
    - %w(json xml rss).map do |type|
      %a.resource{href: '#', target: '_blank', :'data-format' => "search.#{type}?q={name}"}
  %dt User
  %dd
    - %w(json xml).map do |type|
      %a.resource{href: '#', target: '_blank', :'data-format' => "{base}/user/{name}.#{type}"}
      %br
  - %w(watching watchers commissions).each do |resource|
    %dt= resource.capitalize
    %dd
      - %w(json xml).each do |type|
        %a.resource{href: '#', target: '_blank', :'data-format' => "{base}/user/{name}/#{resource}.#{type}"}
        %br
  - %w(shouts journals gallery scraps favorites).each do |resource|
    %dt= resource.capitalize
    %dd
      - %w(json xml rss).each do |type|
        %a.resource{href: '#', target: '_blank', :'data-format' => "{base}/user/{name}/#{resource}.#{type}"}
        %br
  - %w(submission journal).each do |resource|
    %dt= resource.capitalize
    %dd
      - %w(json xml).each do |type|
        %a.resource{href: '#', target: '_blank', :'data-format' => "{base}/#{resource}/{id}.#{type}"}
        %br
  - %w(submission journal).each do |resource|
    %dt
      = resource.capitalize
      Comments
    %dd
      - %w(json xml).each do |type|
        %a.resource{href: '#', target: '_blank', :'data-format' => "{base}/#{resource}/{id}/comments.#{type}"}
        %br

